<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.1.135/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.0.16/jspdf.plugin.autotable.js"></script>

<%= javascript_include_tag "createPdf"%>
<%= javascript_include_tag "createCsv"%>

<h2><i class="fa fa-angle-right"></i>Âncoras de carreira</h2>
<div class="row mt">
  <div class="col-lg-12">
      <div class="content-panel">
          <label>Selecione uma âncora para visualizar</label>
          <% @datas.each do |data| %>
          <%= link_to "#{data}", show_by_date_results_path(:data_final => data, :results => @results, :selecao => @selecao) ,remote: true, :method => :post%><br>
          <% end %>
          <div class="row mt">
              <div class="col-lg-6">
                  <div class="tab-pane hidden" id="chartjs">
                    <div id="graphic"></div>
                  </div>
              </div>
              <div class="col-lg-6">
                  <table id="tabela_resultados" class="table table-bordered table-striped table-condensed">
                      <thead>
                        <tr>
                          <th>Ordem</th>
                          <th>Pontuação</th>
                          <th>Âncoras</th>
                        </tr>
                      </thead>
                      <tbody  id="media">
                      </tbody>
                  </table>
              </div>
      </div>
  </div>
</div>
<div class="col-lg-12">
 <a href="#" id="export" class="btn btn-primary btn-sm btn-success">BAIXAR PARA O EXCEL</a>
<div id='exports'>
</div>
</div>