<h2><i class="fa fa-angle-right"></i>Administrador SAAD</h2>
<p>Aprovações em pendência</p>
<div class="row mt">
    <div class="col-lg-12">
      <div class="content-panel">
            <div class="row mt">
            	<div class="col-lg-12">
					<%if @pendings.size >= 1 %>
					    <% @pendings.each do |pending| %>
					        <p><%= image_tag pending.avatar.url(:thumb) %> <%= pending.nome %> <%= pending.type %> <%= link_to 'Aceitar', admin_aprove_path(pending: pending), data: { confirm: 'Deseja Aceitar ?' } %></p>
					    <% end %>
					<% end %>
            	</div>
            </div>
       </div>
     </div>
</div>