 <% @skills.each do |skill| %>
  <div class="resume-item d-flex flex-column flex-md-row mb-5">
    <div class="resume-content mr-auto" >
      <p><b>•</b> <%= skill.description %>.<%= link_to 'Deletar', skill, method: :delete,class: "btn btn-default btn-sm btn-login", remote: true, data: { confirm: 'Are you sure?' }%>        
      	<%= link_to 'Editar', edit_skill_path(skill.id), class: "btn btn-default btn-sm btn-login",remote:true   %> 


</p>
    </div>
  </div>
 <% end %>

