<h2><i class="fa fa-angle-right"></i>Comparar âncoras de carreira</h2>
<% if current_user.type == 'Teacher' || current_user.type == 'Coordinator'%>
    <%= render :partial => 'results/teacher_analytics' %>
<% elsif current_user.type == 'Principal' %>
    <%= render :partial => 'results/principal_search' %>
<% end %>
