<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.1.135/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.0.16/jspdf.plugin.autotable.js"></script>
<%= javascript_include_tag "createPdf"%>
<%= javascript_include_tag "createCsv"%>

<div id="container" style="min-width: 400px; max-width: 600px; height: 400px; margin: 0 auto"></div>
Ancoras<br>
<% @datas.each do |data| %>
<%= link_to "#{data}", show_by_date_results_path(:data_final => data, :results => @results) ,remote: true, :method => :post%><br>
<% end %>

<table id="tabela_resultados">
  <thead>
    <tr>
      <th>Ordem</th>
      <th>Pontuação</th>
      <th>Âncoras</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody  id="media">

  </tbody>
</table>

 <button type="button" id="cmd">Gerar PDF</button>
 <button type="button" id="csv">Gerar CSV</button>
<br>
<div id = "dados">
<h2>Alunos</h2>
<table>
  <thead>
    <tr>
      <th>Data Final</th>
      <th>Tf</th>
      <th>Gm</th>
      <th>Au</th>
      <th>Se</th>
      <th>Ec</th>
      <th>Sv</th>
      <th>Ch</th>
      <th>Ls</th>
      <th>Student</th>
      <th>Âncoras</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody  id="list">

  </tbody>
</table>
</div>

<br>