<%= javascript_include_tag 'search_learning' %>
<h1>Listando Resultados</h1>
<% if current_user.type == 'Teacher' || current_user.type == 'Coordinator'%>
    <%= render :partial => 'results/teacher_search' %>
<% end %>

