<h2><i class="fa fa-angle-right"></i>Responder Atividade - <small>Título da atividade</small></h2>
    <div class="row mt">
          <div class="col-lg-12">
          <div class="content-panel">
            <%= render 'form' %>
            <%= link_to 'Voltar', answers_path, :class => "btn btn-default btn-sm" %>
        </div>
    </div>