<div class="col-lg-12">
  <div class="form-panel">
    <h2 class="mb"><i class="fa fa-angle-right"></i> Inventario de estilo de aprendizagem(David A. Kolb)</h2>
    <%= render 'form' %>
  </div>
</div>
<h1></h1>


<!--<button type="button" class="btn btn-theme" href="/learning_results"><i class="fa fa-cog"></i> Back</button>-->

