<%= javascript_include_tag 'search_learning' %>
<h1>Listando Resultados de Estilos de aprendizagem</h1>
<% if current_user.type == 'Teacher'  || current_user.type == 'Coordinator'%>
    <%= render :partial => 'learning_results/teacher_search' %>
<% end %>
