<h2><i class="fa fa-angle-right"></i>Listar resultados de estilos de aprendizagem</h2>
<% if current_user.type == 'Teacher'  || current_user.type == 'Coordinator'%>
    <%= render :partial => 'learning_results/teacher_search' %>
<% elsif current_user.type == 'Principal' %>
    <%= render :partial => 'learning_results/principal_search' %>
<% end %>

